<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.base.module.support.im.dao.ImGroupUserDao">

    <resultMap id="BaseResultMap" type="net.lab1024.sa.base.module.support.im.domain.vo.ImGroupUserVO">
        <id column="user_id" property="userId"/>
        <result column="group_id" property="groupId"/>
        <result column="manager_flag" property="managerFlag"/>
        <result column="join_time" property="joinTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="query" resultMap="BaseResultMap">
        SELECT
            user_id,
            group_id,
            manager_flag,
            join_time,
            create_time,
            update_time
        FROM t_im_group_user
        <where>
            deleted_flag = false
            <if test="query.groupId != null">
                AND group_id = #{query.groupId}
            </if>
            <if test="query.userId != null and query.userId != ''">
                AND user_id = #{query.userId}
            </if>
            <if test="query.managerFlag != null">
                AND manager_flag = #{query.managerFlag}
            </if>
        </where>
        ORDER BY join_time ASC
    </select>

    <select id="queryGroupMembers" resultMap="BaseResultMap">
        SELECT
            user_id,
            group_id,
            manager_flag,
            join_time,
            create_time,
            update_time
        FROM t_im_group_user
        WHERE deleted_flag = false
          AND group_id = #{groupId}
        ORDER BY manager_flag DESC, join_time ASC
    </select>

    <select id="selectByUserIdAndGroupId" resultType="net.lab1024.sa.base.module.support.im.domain.entity.ImGroupUserEntity">
        SELECT
            user_id,
            group_id,
            manager_flag,
            join_time,
            deleted_flag,
            create_time,
            update_time
        FROM t_im_group_user
        WHERE deleted_flag = false
          AND user_id = #{userId}
          AND group_id = #{groupId}
        LIMIT 1
    </select>

    <select id="getGroupMemberCount" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM t_im_group_user
        WHERE deleted_flag = false
          AND group_id = #{groupId}
    </select>

</mapper>